<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Metro</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="{% static 'css/myown.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
    <div style="width: 100%;height: 100px;">
        <a href="{% url 'home'%}"><img class="logo-home" src="{% static 'images/logo_watermetro.png'%}"></a>
        <div class="menu-home-whitebg">
            <a class="menu-home-content" href="{% url 'home'%}">Home</a>
            <a class="menu-home-content" href="watermetro-terminals-vytilla">Terminals</a>
            <a class="menu-home-content" href="watermetro-applyforconcession">Apply for Concession</a>
            <a class="menu-home-content" href="watermetro-bookyourjourney">Book Your Journey</a>
            <a class="menu-home-content" href="watermetro-aboutus">About Us</a>
            {% if request.session.U_id %}
                <a class="menu-home-content" href="youraccount">Your Account</a>
            {% else %}
                <a class="menu-home-content" href="login">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="head-home">
        <div class="head-home-content">
            <h1>Cheranalloor</h1>
            <p>Suburb of Kochi city in the state of Kerala</p>
        </div>
    </div><br>
        <div class="terminals-main-container">
            <a href="watermetro-terminals-vytilla">
            <div class="terminals-item">
                <img src="{% static 'images\vytilla_station.jpg'%}" alt="">
                <p class="txt tour-spots-h2"><b>Vytilla</b></p>
                <p class="txt tour-spots-h3">Largest Mobility Hub connecting various<br>forms of transportation</p>
            </div></a>
            <a href="watermetro-terminals-highcourt">
            <div class="terminals-item">
                <img src="{% static 'images/highcourt_station.jpg'%}" alt="">
                <p class="txt tour-spots-h2"><b>HighCourt</b></p>
                <p class="txt tour-spots-h3">The High Court facilitates the needs of the<br>people, with a neutral outlook through law a..</p>
            </div></a>
            <a href="watermetro-terminals-vypin">
            <div class="terminals-item">
                <img src="{% static 'images/vypin_station.jpg'%}" alt="">
                <p class="txt tour-spots-h2"><b>Vypin</b></p>
                <p class="txt tour-spots-h3">Vypin is known for its beaches, lagoons, and<br>fishing villages.</p>
            </div></a>
            <a href="watermetro-terminals-kakkanad">
            <div class="terminals-item">
                <img src="{% static 'images/kakkanad_station.jpg'%}" alt="">
                <p class="txt tour-spots-h2"><b>Kakkanad</b></p>
                <p class="txt tour-spots-h3">Kakkanad is a rapidly developing city known<br>for its IT and industrial parks</p>
            </div></a>
            <a href="watermetro-terminals-southchitoor">
            <div class="terminals-item">
                <img src="{% static 'images/South_chittoor.jpeg'%}" alt="">
                <p class="txt tour-spots-h2"><b>South Chittoor</b></p>
                <p class="txt tour-spots-h3">Riverine island in the city of Kochi in Kerala</p>   
            </div></a>
            <a href="watermetro-terminals-chernalloor">
            <div class="terminals-item">
                <img src="{% static 'images/Cheranalloor.jpeg'%}" alt="">
                <p class="txt tour-spots-h2"><b>Cheranalloor</b></p>
                <p class="txt tour-spots-h3">Suburb of Kochi city in the state of Kerala</p> 
            </div></a>
            <a href="watermetro-terminals-eloor">
            <div class="terminals-item">
                <img src="{% static 'images/Eloor.jpeg'%}" alt="">
                <p class="txt tour-spots-h2"><b>Eloor</b></p>
                <p class="txt tour-spots-h3">Industrial area situated north of the Kochi city<br>centre</p> 
            </div></a>
            <a href="watermetro-terminals-fortkochi">
            <div class="terminals-item">
                <img src="{% static 'images/fort_kochi.jpeg'%}" alt="">
                <p class="txt tour-spots-h2"><b>Fort Kochi</b></p>
                <p class="txt tour-spots-h3">Fort Kochi is rich in heritage and culture, and is<br>a prominent tourist destination for both...</p>
            </div></a>
        </div><br>

        <div style="position: relative;width: 88%;left: 6%;">
            <div class="image-map-container">
            <img class="image" src="{% static 'images\Cheranalloor.jpeg'%}" alt=""><div class="map" id="map"></div>
            </div><br>
            <p style="font-size: 16px;font-weight: 400;text-align:justify;">Cheranallur or Cheranellore or Cheranelloor is a suburb of Kochi city in the state of Kerala, India and lies on the banks of the Periyar River. According to tradition, the area was named by its earlier inhabitants who found this place very fertile and beautiful.</p>
            </div>

    <footer>
        <img class="logo-home-footer" src="{% static 'images/logo_watermetro.png'%}">
        <br><br>
        <div class="footer-01">
            <p>4th Floor<br>JLN Metro Station<br>Kaloor, Cochin - 682017</p>
            <p>
                <a href="https://www.facebook.com/KochiWaterMetro"><i class="fa fa-facebook"></i></a>
                <a href="https://instagram.com/kochiwatermetrolimited"><i class="fa fa-instagram"></i></a>
                <a href="mailto:customercare@watermetro.co.in"><i class="fa fa-envelope"></i></a>
            </p>
        </div>
        <div class="footer-02">
            <p class="footer-head">Quick Links</p>
            <p><a href="{% url 'home'%}">Home</a></p>
            <p><a href="watermetro-terminals-vytilla">Terminals</a></p>
            <p><a href="watermetro-bookyourjourney">Book Your Journey</a</p>
            <p><a href="watermetro-aboutus">About Us</a></p>
        </div>
        <div class="footer-03">
            <p class="footer-head">Get in Touch</p>
            <p><a href="mailto:customercare@watermetro.co.in">customercare@watermetro.co.in</a></p>
            <p><a href="tel:0484 - 2846700">0484 - 2846700</a></p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{% static 'js/myown.js' %}"></script>
    <script>
        // Initialize the map and set its view
        var map = L.map('map').setView([10.072755967626462, 76.28266474173029], 10);

        // Load and display tile layers on the map (OpenStreetMap tiles)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Add a marker at the specified location
        var marker = L.marker([10.072755967626462, 76.28266474173029]).addTo(map)
            .bindPopup('Chernalloor')
            .openPopup();
    </script>
</body>
</html>
